<div>
        <h1>New User </h1>
        <hr>
        <div class="col-md-4">
          <form [formGroup]="signupForm" (ngSubmit)="addUser(signupForm.value)" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="schoolName">School or Organization Name</label>
                <input formControlName="schoolName" id="schoolName" type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label for="emailID">Email ID or User ID</label>
              <input formControlName="emailID" id="emailID" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input formControlName="firstName" id="firstName" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" id="lastName" type="text" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input formControlName="password" id="password" type="password" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
            <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
          </form>
        </div>
</div>