<div class="navbar navbar-expand-lg navbar-light">
  
    <div class="navbar-header">
      <a class="navbar-brand" *ngIf="!userAuth.isAuthenticated()" [routerLink]="['/lotusmind']">
        <!--<img src="../../assets/images/lotus.png" style="height: 30px; width: 30px" />--> <strong> Lotus Mind. </strong>
      </a>
      <a class="navbar-brand" *ngIf="userAuth.isAuthenticated()" [routerLink]="['/home']">
        <img src="../../assets/images/lotus.png" style="height: 30px; width: 30px" /> <strong> Lotus Mind. </strong>
      </a>
    </div>
    <form id="searchForm"  *ngIf="userAuth.isAuthenticated()" class="form-inline"  >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" >
        </div>
    </form>
    
    <div class="collapse navbar-collapse float-right">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" *ngIf="userAuth.isAuthenticated()" [routerLink]="['/grade']">Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="userAuth.isAuthenticated()" [routerLink]="['/assignment']">Assignment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="userAuth.isAuthenticated()">Calender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!userAuth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!userAuth.isAuthenticated()" [routerLink]="['user/signup']">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="userAuth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{userAuth.currentUser.firstName}}</a>
                </li>
            </ul>
    </div>
</div>