.lm-title {
    background-image: url("../../assets/images/lotus_image.jpg");
    display: block;
    text-align: center;    
    color: white;
    
    height: 90vh;  
    padding: 5%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

}

div{
      
    height: 100%;
}

.lm-title h1{
    font-size: 80px;
}

.about-page {
    height: 100vh; 
    padding:10px;
    text-align: center;
}

.about-page div > img {

    width: 30%;
    border-radius: 10px;
}