.lm-title {
    background-image: url("../../assets/images/lotus_image.jpg");
    display: block;
    text-align: center;    
    color: white;
    
    height: 90vh;  
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

div{
    text-align: center;  
    border:1px solid black;
    height: 100%;
}

.lm-title h1{
    text-align: left;
    font-size: 80px;
}

.about-page {
    height: 100vh; 
    padding:10px;
    text-align: center;
}

.about-page div > img {

    width: 30%;
    border-radius: 10px;
}