<div class="container">
  <h1>Login</h1>
  <hr>
  <div class="col-md-4">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">

      <div class="form-group" >
        <label for="org_id"><strong>School Name</strong></label>
        
        <!--<select [(ngModel)]="org_id" id="org_id" name="org_id">
          <option *ngFor="let schools of organisation" [value]="schools.org_id" ngDefaultControl>{{schools.org_display_name}}</option>
        </select> -->

        <select class="selectpicker">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
        </select>

      </div>
      
      <div class="form-group" >
        <label for="userid"><strong>Email or Username</strong></label>
        <input (ngModel)="userid" id="userid" name="userid" required type="text" class="form-control" placeholder="Email or User name" />
        <p *ngIf="loginForm.controls.userid?.invalid 
                && (loginForm.controls.userid?.touched)">
            Please enter your email or user name
        </p>
      </div>
      <div class="form-group" >
        <label for="passwd"><strong>Password</strong></label>
        <input (ngModel)="passwd" id="passwd" name="passwd" required type="password" class="form-control"placeholder="Password" />
        <p *ngIf="loginForm.controls.passwd?.invalid && (loginForm.controls.passwd?.touched)">
            Please enter password
        </p>
      </div>
      <!--<div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
        <label class="form-check-label" for="dropdownCheck2">
          Remember me
        </label>
      </div>-->
      
      <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-secondary">Login</button>
      </span>
        <!--<button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>-->

        <div>
          <ul>
            <li>Don't have an account? <a [routerLink]="['signup']">Sign up</a></li>
            <li>Forgot <a href="#">Password</a>?</li>
        </ul>
        </div>
    </form>

    <br/>
    <div *ngIf="loginInvalid" class="alert alert-danger">
        Wrong login information. Please try again.
    </div>
  </div>
</div>