<div class="container">
  <h1>Login</h1>
  <hr>
  <div class="col-md-4">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">

      <div class="form-group" >
        <label for="orgid"><strong>School Name</strong></label>
        <select [(ngModel)]="orgid" id="orgid" name="orgid">
          <option *ngFor="let schools of organisation" [value]="schools.org_id" ngDefaultControl>{{schools.org_display_name}}</option>
        </select>
      </div>

      <div class="form-group" >
        <label for="userName"><strong>Email or Username</strong></label>
        <input (ngModel)="userName" id="userName" name="userName" required type="text" class="form-control" placeholder="Email or User name" />
        <p *ngIf="loginForm.controls.userName?.invalid 
                && (loginForm.controls.userName?.touched)">
            Please enter your email or user name
        </p>
      </div>
      <div class="form-group" >
        <label for="password"><strong>Password</strong></label>
        <input (ngModel)="password" id="password" name="password" required type="password" class="form-control"placeholder="Password" />
        <p *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched)">
            Please enter password
        </p>
      </div>
      <!--<div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
        <label class="form-check-label" for="dropdownCheck2">
          Remember me
        </label>
      </div>-->
      
      <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-secondary">Login</button>
      </span>
        <!--<button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>-->

        <div>
          <ul>
            <li>Don't have an account? <a [routerLink]="['signup']">Sign up</a></li>
            <li>Forgot <a href="#">Password</a>?</li>
        </ul>
        </div>
    </form>
  </div>
</div>