<h1>Assignment Details</h1>
<hr>
<div>
    <table class="table table-dark">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Subject</th>
        <th>Due Date</th>
        <th>Hours Required</th>
        <th>Is Graded</th>
        <th>Mark as Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>Jun 06, 2018</td>
        <td>10</td>
        <td>Y</td>
        <td>Yes</td>
      </tr>
      <tr>
          <td>John</td>
        <td>Doe</td>
        <td>Jun 06, 2018</td>
        <td>10</td>
        <td>Y</td>
        <td>Yes</td>
        
      </tr>
      
    </tbody>
  </table>
    
</div>