<h1>Assignment Details</h1>
<hr>
<div class="assignment-buttons">
  <button type="button" class="btn btn-success">Create New</button>
  <button type="button" class="btn btn-primary">Export</button>
  
</div>
<div class="row" >
  <div class="col-sm-5" *ngFor="let asglist of assignment">
    <collapsible-details [title]="asglist.assignment">
      <span>Subject: {{asglist.subject}}</span>
      <span>Teacher: {{asglist.teacher}}</span>
      <span>Due Date: {{asglist.due_date | date }}  | Hours Required: {{asglist.hours_required}} </span>
      <span>Graded : {{asglist.is_graded}}</span>
      <button type="button" class="btn btn-primary btn-sm">Click to Complete</button>
      <button type="button" class="btn btn-danger btn-sm">Delete</button>
    </collapsible-details>
  </div>
</div>