<h1>Assignment Details</h1>
<hr>
<div class="assignment-buttons">
  <button type="button" class="btn btn-success">Create New</button>
  <button type="button" class="btn btn-danger">Delete</button>
  <button type="button" class="btn btn-primary">Export</button>
  <button type="button" class="btn btn-primary">Clone</button>
  
</div>
<div>
    <table class="table table-dark">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Subject</th>
        <th>Due Date</th>
        <th>Hours Required</th>
        <th>Is Graded</th>
        <th>Mark as Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asglist of assignment">
        <td>{{asglist.assignment}}</td>
        <td>{{asglist.subject}}</td>
        <td>{{asglist.due_date}}</td>
        <td>{{asglist.hours_required}}</td>
        <td>{{asglist.is_graded}}</td>
        <td>{{asglist.mark_as_complete}}</td>
      </tr>
    </tbody>
  </table>
    
</div>