/* You can add global styles to this file, and also import other style files */

.container {
   background-color: white;
   
}

a {
    cursor: pointer;
}

th {
    font-size: 20px;
    color: black;
}
td {
    font-size: 16px;
    color: darkblue;
}

h1{
    color: mediumvioletred;
    font-weight: bold;
}